.row{
    margin-left: 0px;
  }
  .container-fluid{
    padding: 0px;
  }
  .col-xs-12.col-sm-12.col-md-12.col-lg-12{
    padding: 0px;
  }
  .col-xs-12.col-md-4{
  padding: 0px;
  }
  h1, h2, p, ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
