<div class="row my-5">
  <div class="col-sm-11 col-md-6 col-lg-4 mx-auto my-auto card">
     <form>
       <h1 class="header">
          Sign In, please.
       </h1>

  <div class="form-outline mb-3">
      <label for="email" class="form-label">Email</label>
    <input type="email" name="email" class="form-control" id="email" [(ngModel)]="email">
      
    </div>
    <div class="form-outline mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" name="password"  class="form-control" id="password" [(ngModel)]="passwordLocal">
      
    </div>
    <button type="button" class="btn btn-primary mb-3 col-12 col-sm-12 col-md-6" (click)="btnLogin()">
      Iniciar sesion
    </button>
  </form>
</div>  
</div>

<!---->