.container{
    box-sizing: unset;
    padding: 150px 300px 300px 300px;
    background-color: grey;
    width: 640;
    height: 640px;
}
form{
background-color: rgba(0,0,0,0.1);
width: 640;
height: 640px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: darkgray;

}
.my-5{
    margin: 50px 30px;
}
.btn.btn-primary{
margin: 100px 140px;
width: 130px;
background-color: rgba(0,0,0,0.1);
border: 3px solid silver;
align-self: center;
text-align: justify;
}
.btn.btn-primary:hover{
background-color: #fff;
color: grey;
}
.header{
    text-align: center;
    padding-top: 40px;
    color: darkgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form-control{
margin: 10px 10px;
}
