<div class="row my-5">
    <div class="col-sm-11 col-md-6 col-lg-4 mx-auto my-auto card">
  <form class="m-5">
    <h2 class="header">
      Agregar nueva educacion
    </h2>
  
    <div class="form-outline mb-3">
        <label for="inputIns" class="form-label">Institucion:</label>
        <input type="text" name="inputIns" formControlName="institucion" class="form-control" id="inputIns">
     
        <div class="form-outline mb-3">
            <label for="inputC" class="form-label">Carrera:</label>
            <input type="text" name="inputC" formControlName="carrera" class="form-control" id="inputC">
          </div>

          <div class="form-outline mb-3">
            <label for="inputIni" class="form-label">Fecha de inicio:</label>
            <input type="text" name="inputIni" formControlName="inicioC" class="form-control" id="inputIni">
          </div>
      </div>
      <div class="form-outline mb-3">
        <label for="inputFinal" class="form-label">Fecha de Fin:</label>
        <input type="text" name="inputFinal" formControlName="finalC" class="form-control" id="inputFinal">
      </div>
      
      <button type="submit" class="btn btn-success mb-3 col-12 col-sm-12 col-md-6" (ngSubmit)="onClick()">Agregar</button>
    </form>
  </div>  
  </div>