<div class="row my-5">
    <div class="col-sm-11 col-md-6 col-lg-4 mx-auto my-auto card">
  <form (ngSubmit)="onClick()" class="m-5">
    <h2 class="header">
      Agregar nueva educacion
    </h2>
  
    <div class="form-outline mb-3">
        <label for="institucion" class="form-label">Institucion:</label>
        <input type="text" name="institucion"  class="form-control" id="institucion" [(ngModel)]="institucion">
     
        <div class="form-outline mb-3">
            <label for="carrera" class="form-label">Carrera:</label>
            <input type="text" name="carrera" class="form-control" id="carrera" [(ngModel)]="carrera">
          </div>

          <div class="form-outline mb-3">
            <label for="fechaInicio" class="form-label">Fecha de inicio:</label>
            <input type="text" name="fechaInicio"  class="form-control" id="fechaInicio" [(ngModel)]="fechaInicio">
          </div>
      </div>
      <div class="form-outline mb-3">
        <label for="fechaFin" class="form-label">Fecha de Fin:</label>
        <input type="text" name="fechaFin" class="form-control" id="fechaFin" [(ngModel)]="fechaFin">
      </div>

      <div class="form-outline mb-3">
        <label for="img" class="form-label">Imagen:</label>
        <input type="file" name="img" class="form-control" id="img" [(ngModel)]="img">
      </div>
      
      <button type="submit" class="btn btn-success mb-3 col-12 col-sm-12 col-md-6" (ngSubmit)="onClick()">Agregar</button>
    </form>
  </div>  
  </div>