<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-12" id="encabezado">
        <h1 class="text">EDUCATION</h1>
      </div>

      <div class="col-xs-12 col-md-1">
      </div>
      <div class="col-xs-12 col-md-1">
      </div>

      <div class="col-xs-12 col-md-2">
      <img src="assets/arg-programa.png" alt="foto argProg"/>
      </div>
      
      <div class="col-xs-12 col-md-6">
        <h2 class="text">Full Stack Developer Jr</h2>
        <p>3ra Edicion</p>
        <p>Buenos Aires, Argentina 2022</p>
      </div>
      <div class="col-xs-12 col-md-1">
      </div>
      <div class="col-xs-12 col-md-1">
      </div>

      <div class="col-xs-12 col-md-1">
      </div>
      <div class="col-xs-12 col-md-1">
      </div>

      <div class="col-xs-12 col-md-2">
        <img src="assets/cuam.png" alt="foto cuam"/>
      </div>
      
      
      <div class="col-xs-12 col-md-6">
        <h2 class="text">TSU Adm. Aduanas</h2>
        <p>Colegio universitario de Administración y mercadeo</p>
        <p>Caracas, Venezuela 2015</p>
      </div>
      <div class="col-xs-12 col-md-1">
      </div>
    
      <div class="col-xs-12 col-md-1">
      </div>
      <div class="col-xs-12 col-md-1">
      </div>
      <div class="col-xs-12 col-md-1">
      </div>
      <div class="col-xs-12 col-md-2">
        <img src="assets/emilioCrespo.png" alt="foto emilio crespo">
      </div>
    
      <div class="col-xs-12 col-md-6">
        <h2 class="text">Bachiller en Ciencias</h2>
        <p>U.E.P Emilio Crespo Miranda, Venezuela 2003-2008</p>
        <p>Miranda, Venezuela 2008</p>
      </div>
      <div class="col-xs-12 col-md-1">
      </div>
      <div class="col-xs-12 col-md-1">
      </div>
    </div>
    </div>
    