.row{
    padding: 0px;
}

.btn.btn{
    background-color: silver;
    padding: 7px 7px;
    display: inline-block;
    color: dimgrey;
    margin: 0px 5px;
  }
  .btn.btn:hover, .login:active{
    background-color: lightgray;
    color: #fff;
  }
.col-xs-12{
    padding: 0px;
}
h1,h2,p{
    padding: 5px;
    margin-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
img{
    width: 100px;
    height: 100px;
    padding: 4px;  
}
.text{
    margin-left: 100px;
}
p{
    margin-left: 100px;
    margin-bottom: 5px;
}
