<div class="row my-5">
    <div class="col-sm-11 col-md-6 col-lg-4 mx-auto my-auto card">
  <form class="m-5">
    <h2 class="header">
      Editar skill
    </h2>
  
    <div class="form-outline mb-3">
        <label for="inputH" class="form-label">Habilidad</label>
        <input type="text" name="inputH" formControlName="habilidad" class="form-control" id="inputH" aria-describedby="">
     
          <div class="form-outline mb-3">
            <label for="inputN" class="form-label">Porcentaje (%)</label>
            <input type="number" name="inputN" formControlName="porcentaje" class="form-control" id="inputN" aria-describedby="">
          </div>
      </div>
      
      <button type="submit" class="btn btn-success mb-3 col-12 col-sm-12 col-md-6" (click)="onClick()">Editar</button>
    </form>
  </div>  
  </div>