.container-fluid{
    padding: 0px;
    background-color: lightgray;
}
.row{
    padding: 0px;
}
.col-xs-12.col-md-12{
    padding: 0px;
}
.btn.btn{
    background-color: silver;
    padding: 7px 7px;
    display: inline-block;
    color: dimgrey;
    margin: 0px 5px;
  }
  .btn.btn:hover, .login:active{
    background-color: lightgray;
    color: #fff;
  }
.chart{
    padding: 0px;
}
.text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 100px;
    padding: 100px 0px 100px 0px;
}

