<div class="container-fluid">
    <div class="row">
    
        <div class="col-xs-12 col-md-12">
            <h1 class="text" id="encabezado"> {{skills}} <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="25" height="25" focusable="false">
                <path d="M14 9H9v5H7V9H2V7h5V2h2v5h5z"></path>
              </svg></h1>
        </div>
        
        <div class="chart">
            <app-polar-area-chart></app-polar-area-chart>
        </div>
    </div>
    </div>
