<div class="row my-5">
    <div class="col-sm-11 col-md-6 col-lg-4 mx-auto my-auto card">
  <form class="m-5">
    <h2 class="header">
      Agregar nueva experiencia
    </h2>
  
    <div class="form-outline mb-3">
        <label for="inputEmail" class="form-label">Puesto</label>
        <input type="email" name="inputEmail" formControlName="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
     
        <div class="form-outline mb-3">
            <label for="inputEmail" class="form-label">Empresa</label>
            <input type="email" name="inputEmail" formControlName="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
          </div>

          <div class="form-outline mb-3">
            <label for="inputEmail" class="form-label">Fecha de inicio</label>
            <input type="email" name="inputEmail" formControlName="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
          </div>
      </div>
      <div class="form-outline mb-3">
        <label for="inputPassword" class="form-label">Fecha de Fin</label>
        <input type="password" name="inputPassword" formControlName="password" class="form-control" id="inputPassword">
      </div>

      <div class="form-outline mb-3">
        <label for="inputEmail" class="form-label">Lugar de trabajo</label>
        <input type="email" name="inputEmail" formControlName="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
      </div>
      <button type="submit" class="btn btn-success mb-3 col-12 col-sm-12 col-md-6" >Agregar</button>
    </form>
  </div>  
  </div>