<div class="container" *ngIf="expLab">
<div class="row my-5">
    <div class="col-sm-11 col-md-6 col-lg-4 mx-auto my-auto card">
  <form (ngSubmit)="onClick()" class="m-5">
    <h2 class="header">
      Editar experiencia
    </h2>
  
    <div class="form-outline mb-3">
      <label for="empresa" class="form-label">Empresa:</label>
      <input type="text" name="empresa"  class="form-control" id="empresa" [(ngModel)]="expLab.empresa">
    </div>
    
    <div class="form-outline mb-3">
        <label for="puesto" class="form-label">Puesto:</label>
        <input type="text" name="puesto"  class="form-control" id="puesto" [(ngModel)]="expLab.puesto">
      </div>

      <div class="form-outline mb-3">
        <label for="fechaInicio" class="form-label">Fecha Inicio:</label>
        <input type="text" name="fechaInicio"  class="form-control" id="fechaInicio" [(ngModel)]="expLab.fechaInicio">
      </div>

      <div class="form-outline mb-3">
        <label for="fechaFin" class="form-label">Fecha Fin:</label>
        <input type="text" name="fechaFin"  class="form-control" id="fechaFin" [(ngModel)]="expLab.fechaFin">
      </div>

      <div class="form-outline mb-3">
        <label for="lugar" class="form-label">Lugar:</label>
        <input type="text" name="lugar"  class="form-control" id="lugar" [(ngModel)]="expLab.lugar">
      </div>

      <div class="form-outline mb-3">
        <label for="img" class="form-label">Imagen:</label>
        <input type="file" name="img"  class="form-control" id="img" [(ngModel)]="expLab.img">
      </div>
     
    <button type="submit" class="btn btn-success mb-3 col-12 col-sm-12 col-md-6" (ngSubmit)="onClick()">Editar</button>
    </form>
  </div>  
  </div>
</div>