.container-fluid{
    padding: 0px;
    background-color: lightgrey;
}
.row{
    padding: 0px;
}
.col-xs-12{
    padding: 0px;
}
h1,h2{
    padding:  5px;
    margin-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
img{
    width: 100px;
    height: 100px;
    padding: 4px;  
}
.text{
    margin-left: 100px;
}
ul{
    margin-left: 90px;
}
@media (max-width:766px){
.text{
    margin-left: 80px;
}
ul{
    margin-left: 70px;
}

}