<div class="row my-5">
    <div class="col-sm-11 col-md-6 col-lg-4 mx-auto my-auto card">
  <form class="m-5">
    <h2 class="header">
      Editar proyecto
    </h2>
  
    <div class="form-outline mb-3">
        <label for="inputTitulo" class="form-label">Proyecto</label>
        <input type="text" name="inputTitulo" formControlName="nombre" class="form-control" id="inputTitulo" aria-describedby="">
     
      </div>
      <div class="form-outline mb-3">
        <label for="inputDescri" class="form-label">Descripcion</label>
        <input type="text" name="inputDescri" formControlName="descripcion" class="form-control" id="inputDescri">
        
      </div>
      <button type="submit" class="btn btn-success mb-3 col-12 col-sm-12 col-md-6" (click)="onClick()">Editar</button>
    </form>
  </div>  
  </div>