<div class="row my-5">
    <div class="col-sm-11 col-md-6 col-lg-4 mx-auto my-auto card">
  <form class="m-5" (ngSubmit)="onClick()">
    <h2 class="header">
      Editar proyecto
    </h2>
  
    <div class="form-outline mb-3">
        <label for="nombre" class="form-label">Proyecto</label>
        <input type="text" name="nombre" class="form-control" id="nombre" [(ngModel)]="proNom.nombre">
     
      </div>
      <div class="form-outline mb-3">
        <label for="descripcion" class="form-label">Descripcion</label>
        <input type="text" name="descripcion" class="form-control" id="descripcion" [(ngModel)]="proNom.descripcion"> 
      </div>

      <div class="form-outline mb-3">
        <label for="img" class="form-label">Imagen:</label>
        <input type="file" (change)="uploadImage($event)">
      </div>

      <button type="submit" class="btn btn-success mb-3 col-12 col-sm-12 col-md-6" (ngSubmit)="onClick()">
        Editar
      </button>
    </form>
  </div>  
  </div>