.container-fluid{
    padding: 0px;
    background-color: lightgray;

}
.row{
    padding: 0px;
}
.col-xs-12{
    padding: 0px;
}

p,a{
    margin-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

img{
    width: 100px;
    height: 100px;
    padding: 4px;  
}
.text, ul{
    margin-left: 100px;
    padding: 10px 0px 10px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

