<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-12" id="encabezado">
        <h1 class="text">PROYECTS</h1>
      </div>
    
      <div class="col-xs-12 col-md-1">
      </div>      
      <div class="col-xs-12 col-md-1">
        <img src="/assets/portfolio.png" alt="foto de portfolio"/>
      </div>
        <div class="col-xs-12 col-md-3">
     <h2 class="text">Portfolio web full stack developer jr</h2>
      <p>Portfolio Web</p>
     <a href="https://argentinaprograma.inti.gob.ar/" target="_blank">Argentina programa</a>
        <ul>
          <li>JavaScript</li>
          <li>Html</li>
          <li>Css</li>
          <li>MySQL</li>
          <li>TypeScript</li>
          <li>GitHub</li>
        </ul>
      </div>
        
      <div class="col-xs-12 col-md-1">
      </div>
      <div class="col-xs-12 col-md-1">
        <img src="/assets/DS.png" alt="data system java"/>
      </div>
      <div class="col-xs-12 col-md-3">
    <h2 class="text">Data System</h2>
     <p>Sistema de Registro de Datos</p>
     <a href="https://www.youtube.com/c/LaGeekipediaDeErnesto/playlists"target="_blank">Java desde cero</a>
      <ul>
          <li>Java</li>
          <li>Xammp</li>
        </ul>
      </div>  
     </div>
    </div>
    