.container-fluid{
    padding: 0px;
    background-color: lightgray;

}
.row{
    padding: 0px;
}
.col-xs-12{
    padding: 0px;
}
.btn.btn{
    background-color: silver;
    padding: 7px 7px;
    display: inline-block;
    color: dimgrey;
    margin: 0px 5px;
  }
  .btn.btn:hover, .login:active{
    background-color: lightgray;
    color: #fff;
  }
p,a{
    margin-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    width: 100px;
    height: 100px;
    padding: 4px;  
}
.text, ul{
    margin-left: 100px;
    padding: 10px 0px 10px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

