.row{
    padding: 0px;
}
.col-xs-12{
    padding: 0px;
}
.btn.btn{
    background-color: silver;
    padding: 7px 7px;
    display: inline-block;
    color: dimgrey;
    margin: 0px 5px;
  }
  .btn.btn:hover, .login:active{
    background-color: lightgray;
    color: #fff;
  }
img{
    width: 250px;
    height: 250px;
    padding: 4px;
    margin-bottom: 10px;  
}
.text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 100px;
  padding: 100px 0px 100px 0px;
}
#divProyect{
    border-style: solid; border-width: 4px;
    border-radius: 30px;
    padding: 15px;
    margin-right: 30px;
}


